#root > div:nth-child(1) {

	height: 70px;
	background-color: #202020;
	color: white;
	display: flex;
	align-items: center;
}
#root > div:nth-child(1) > div > h4 {
	margin: 0 0;
	padding: 5px;
}
#root > div:nth-child(1) > div {
	margin: 0 0;
	display: flex;
	flex-direction: row;
	height: 30px;
}
#root > div:nth-child(2) > ul > li {
	padding: 1.5rem;
  	position: relative;
  	margin: 1rem 0;
  	border-radius: .25rem;
  	background-color: white;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
}
#root > div:nth-child(2) > ul:nth-child(1) {
	padding-left: 0;
	margin: 0;
	list-style: none;
}
#root > div:nth-child(2) > ul > li > div > strong {
	color: #DA3C78;
	/* font-size: medium; */
}
#root > div:nth-child(2) > ul > li > div > p {
	font-size: smaller;
	margin: 0 4px;
	padding: 0;
}
#root > div:nth-child(2) > ul > li {
	padding-bottom: 15px;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto auto;
}
#root > div:nth-child(2) > ul > li > div {
	display: flex;
	flex-direction: row;
	overflow: visible;
	padding: 10px;
}
#root > div:nth-child(2) > ul > li > div:nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}	
#root > div:nth-child(2) > ul > li > div:nth-child(2) {
	grid-column: 1;
	grid-row: 2;
}
#root > div:nth-child(2) > ul > li > div:nth-child(3) {
	grid-column: 1;
	grid-row: 3;
}
#root > div:nth-child(2) > ul > li > div:nth-child(4) {
	grid-column: 1;
	grid-row: 4;
}
#root > div:nth-child(2) > ul > li > div:nth-child(5) {
	grid-column: 1;
	grid-row: 5;
}

#root > div:nth-child(2) > ul > li > div:nth-child(6) {
	grid-column: 1;
	grid-row: 6;
}
#root > div:nth-child(2) > ul > li > div:nth-child(7) {
	grid-column: 1;
	grid-row: 7;
}

@media screen and (min-width: 700px){
	#root > div:nth-child(2) > ul > li {
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto auto auto auto;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(1) {
		grid-column: 1;
		grid-row: 1;
	}	
	#root > div:nth-child(2) > ul > li > div:nth-child(2) {
		grid-column: 1;
		grid-row: 2;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(3) {
		grid-column: 1;
		grid-row: 3;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(4) {
		grid-column: 1;
		grid-row: 4;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(5) {
		grid-column: 1;
		grid-row: 5;
	}
	
	#root > div:nth-child(2) > ul > li > div:nth-child(6) {
		grid-column: 2;
		grid-row: 1;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(7) {
		grid-column: 2;
		grid-row: 2/5;
	}
}

@media screen and (min-width: 900px) {
	#root > div:nth-child(2) > ul > li {

		grid-template-columns: auto auto auto auto auto;
		grid-template-rows: auto auto auto;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(1) {
		grid-column: 1;
		grid-row: 1;
	}	
	#root > div:nth-child(2) > ul > li > div:nth-child(2) {
		grid-column: 2;
		grid-row: 1;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(3) {
		grid-column: 3;
		grid-row: 1;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(4) {
		grid-column: 4;
		grid-row: 1;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(5) {
		grid-column: 5;
		grid-row: 1;
	}
	
	#root > div:nth-child(2) > ul > li > div:nth-child(6) {
		grid-column: 1/-1;
		grid-row: 2;
	}
	#root > div:nth-child(2) > ul > li > div:nth-child(7) {
		grid-column: 1/-1;
		grid-row: 3;
	}

}

