#root > div:nth-child(2) > ul > li {
	padding: 1.5rem;
  	position: relative;
  	margin: 1rem 0;
  	border-radius: .25rem;
  	background-color: white;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
}
#root > div:nth-child(2) > ul:nth-child(1) {
	padding-left: 0;
	margin: 0;
	list-style: none;
}
#root > div:nth-child(2) > ul > li > div > strong {
	color: #DA3C78;
}
#root > div:nth-child(2) > ul > li {
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
}
/* #root > div:nth-child(1) > button:nth-child(1) {
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	background-color: #FF6CA8;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	margin-top: .25rem;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} */

